<ion-header [translucent]="true"class="ion-text-center ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>Skeletton APP</h1>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment (ionChange)="segmentChanged($event)" value="data">
        <ion-segment-button value="data">
          <ion-icon name="analytics"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="work-exp">
          <ion-icon name="briefcase"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="certifications">
          <ion-icon name="document-text"></ion-icon>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-no-border">
  <ng-container *ngIf="selectedSegment == 'data'">
    <app-my-data></app-my-data>
  </ng-container>
  <ng-container *ngIf="selectedSegment == 'work-exp'">
    <app-work-exp></app-work-exp>
  </ng-container>
  <ng-container *ngIf="selectedSegment == 'certifications'">
    <app-certifications></app-certifications>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>App Desarrollada por FcaHJ</ion-title>
  </ion-toolbar>
</ion-footer>