<ion-header [translucent]="true"class="ion-text-center ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>Skeletton APP</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center ion-no-border">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      Bienvenido {{username}}
    </ion-item>
    <ion-item>
      <ion-input label="Nombre" labelPlacement="floating" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" labelPlacement="floating" [(ngModel)]="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Nivel Educacional" [(ngModel)]="educationLevel">
        <ion-select-option *ngFor="let level of educationLevels | keyvalue" value="{{level.key}}">{{level.value}}</ion-select-option>
        <!--
        <ion-select-option value="basica">Ed. Basica</ion-select-option>
        <ion-select-option value="media">Ed. Media</ion-select-option>
        <ion-select-option value="superior">Ed. Superior</ion-select-option>
        <ion-select-option value="postgrado">Postgrado</ion-select-option>
        <ion-select-option value="doctorado">Doctorado</ion-select-option>
        -->
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Fecha Nac" [(ngModel)]="bday" readonly></ion-input>
        <ion-button id="btn-calendar">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
        <ion-popover trigger="btn-calendar" triggerAction="click">
          <ng-template>
            <ion-datetime [(ngModel)]="bday"></ion-datetime>
          </ng-template>
        </ion-popover>
    </ion-item>
  </ion-list>

  <div class="botones">
    <ion-button (click)="clean()">Limpiar</ion-button>
    <ion-button (click)="showInfo()">Mostrar</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>App Desarrollada por FcaHJ</ion-title>
  </ion-toolbar>
</ion-footer>